@inherits LayoutComponentBase
@inject ThemeState ThemeState

@implements IDisposable

<CascadingValue Value="@ThemeState">
    <div class="h-full @(ThemeState.BackgroundColour)">
        <div class="h-full container mx-auto">
            @Body
        </div>
    </div>
</CascadingValue>

@code {

    protected override void OnInitialized()
    {
        ThemeState.OnStateChange += StateHasChanged;
    }

    public void Dispose()
    {
        ThemeState.OnStateChange -= StateHasChanged;
    }
}