<div class="w-full absolute top-[10.5] z-20 origin-top rounded-md bg-white text-center py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none" tabindex="-1">
    <div class="flex flex-col justify-center">
        
        <div class="flex flex-row justify-between mx-2">

            <div class="mr-0.5">
                <button @onclick="() => SelectedWhiteColour()" class="bg-white w-5 h-5 border border-gray-400 shadow-xl">
                </button>
                <button @onclick="() => SelectedBlackColour()" class="bg-black w-5 h-5 border border-gray-400 shadow-xl">
                </button>
            </div>

            @foreach (var colour in colours)
            {
                <div>
                    @foreach (var shade in shades)
                    {
                        <button @onclick="() => SelectedColour(colour, shade)"
                                class="bg-@(colour)-@(shade) w-5 h-5 border border-gray-400 shadow-xl">
                        </button>
                    }
                </div>
            }
        </div>

        <div class="flex flex-row mx-2 mt-1 justify-end">
            <button @onclick="OnClose" class="bg-blue-50 rounded border px-2 py-0.5 text-xs text-gray-600 hover:bg-blue-100">Close</button>
        </div>

    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public EventCallback OnClose { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<SelectedColour> OnColourSelected { get; set; }

    private void SelectedColour(string colour, string shade)
    {
        OnColourSelected.InvokeAsync(new SelectedColour(colour, shade));
    }

    private void SelectedWhiteColour()
    {
        OnColourSelected.InvokeAsync(new SelectedColour("white"));
    }

    private void SelectedBlackColour()
    {
        OnColourSelected.InvokeAsync(new SelectedColour("black"));
    }

    private List<string> colours = new List<string>()
    {
        "gray",
        "red",
        "orange",
        "amber",
        "yellow",
        "lime",
        "green",
        "teal",
        "sky",
        "blue",
        "indigo",
        "purple",
        "pink",
        "rose"
    };

    private List<string> shades = new List<string>()
    {
        "50",
        "100",
        "200",
        "300",
        "400",
        "500",
        "600",
        "700",
        "800",
        "900",
        "950",
    };
}