<div class="flex ml-3 my-2 pr-1 text-sm font-normal text-gray-600">
    Total : <span class="text-gray-800 ml-1 font-medium">@TotalNoOfPages</span>
</div>

@code {

    [Parameter]
    public int TotalNoOfPages { get; set; }
}
