<button @onclick="ButtonClick" class="rounded-md border border-white hover:bg-gray-50 hover:border-gray-200">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 m-1 text-gray-500">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
    </svg>
</button>

@code {

    [Parameter]
    public EventCallback ButtonClick { get; set; }
}
