@if (SelectedDate.Equals(new DateOnly(Year, Month, Day)))
{
    <button @onclick="() => Select(Day)" class="w-10 p-2 text-xs font-medium text-gray-500 bg-blue-100">
        @Day
    </button>
}
else
{
    <button @onclick="() => Select(Day)" class="w-10 p-2 text-xs font-medium text-gray-500 hover:bg-gray-200">
        @Day
    </button>
}

@code {

    [Parameter]
    public int Day { get; set; }

    [Parameter]
    public int Month { get; set; }

    [Parameter]
    public int Year { get; set; }

    [Parameter]
    public DateOnly SelectedDate { get; set; }

    [Parameter]
    public EventCallback<int> SelectDay { get; set; }

    public void Select(int day)
    {
        SelectDay.InvokeAsync(day);
    }
}
