<div class="flex flex-row justify-evenly my-0.5">
    @foreach (string day in _daysOfWeek)
    {
        <span class="w-10 bg-white p-2 text-xs font-medium text-gray-500">@day</span>
    }
</div>

@code {

    private List<string> _daysOfWeek = new()
    {
        "Su",
        "Mo",
        "Tu",
        "We",
        "Th",
        "Fr",
        "Sa"
    };

}