<div class="flex flex-row justify-between p-1">
    <DateSelectorNavigateLeft ButtonClick="PreviousMonth" />
    <button @onclick="MonthYearChange" class="px-2 text-gray-600 text-sm font-medium rounded-md border border-white hover:bg-gray-50 hover:border-gray-200">
        <span class="mr-1">@(MonthName())</span><span class="text-gray-600 text-sm font-medium">@(Year.ToString("D4"))</span>
    </button>
    <DateSelectorNavigateRight ButtonClick="NextMonth" />
</div>

@code {

    [Parameter]
    public EventCallback<DateOnly> DateChanged {get; set; }

    [Parameter]
    public EventCallback MonthYearChange { get; set; }

    [Parameter, EditorRequired]
    public int Month { get; set; }

    [Parameter, EditorRequired]
    public int Year { get; set; }

    private string MonthName()
    {
        if (Month > 0 & Year > 0)
        {
            DateTime date = new DateTime(Year, Month, 1);
            return date.ToString("MMMM");
        }

        return string.Empty;
    }

    private void PreviousMonth()
    {
        if (Month == 1)
        {
            Month = 12;
            if (Year > 1)
            {
                Year--;
            }
        }
        else
        {
            Month--;
        }

        DateChanged.InvokeAsync(new DateOnly(Year, Month, 1));
    }

    private void NextMonth()
    {
        if (Month == 12)
        {
            Month = 1;
            Year++;
        }
        else
        {
            Month++;
        }

        DateChanged.InvokeAsync(new DateOnly(Year, Month, 1));
    }
}
